beautifulsoup4==4.8.2
collapsing-thread-pool-executor==2019.11
html5lib==1.0.1
httplib2==0.9.2
lxml==4.5.0
requests==2.23.0
requests-unixsocket==0.1.5
system-service==0.3
systemd-python==234
urllib3==1.25.8

